body{
    height: 100%;
    width: 100vw;
    background-color: rgb(221, 217, 217);
  }

.event-body{
    height: 100vh;
    width: 100vw;

    display: flex;
    flex-direction: column;   
    align-items: center;  
    padding-top: 2em;
    margin: 0;
    padding: 0;
    color: black;
    background-color: beige;
    margin-top: 1.5em;
    padding-top: 16px;
    font-size: 1.2em;     
}

.event-background{
    display: flex;
    flex-direction: column;   
    align-items: center;  
    width: 100vw;
    background-color: beige;
}
 
.create-event-modal{
    width: 40em;
    border: 1px solid #ccc;
    background-color: white;
    border-radius: 5px;
    margin: 10px;
    
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center; 

}

@media screen and (max-width: 600px) {
    .create-event-modal{
        width: 100vw;
        font-size: 1.3em;
    }

    .event-body{
        margin-top:0.2em; 
    ;
    }


}