body{
    height: 100%;
    width: 100vw;
    background-color: rgb(221, 217, 217);
  }

.event-body{
    height: 100vh;
    width: 100vw;

    display: flex;
    flex-direction: row;    
    justify-content: center;
    padding-top: 2em;
    margin: 0;
    padding: 0;
    color: black;
    background-color: #F5F5F5;
    margin-top: 1.5em;
    padding-top: 16px;
    font-size: 1.2em;      
}

.event-background{
    display: flex;
    flex-direction: column;   
    align-items: center;  
    width: 100vw;
    background-color: #F5F5F5;
}
 
.create-event-modal{
    width: 40em;
    border: 1px solid #ccc;
    background-color: white;
    border-radius: 5px;
    margin: 10px;
    
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;  
}

.center-event{
    display: flex;
    flex-direction: column;   
    align-items: center;  
    width: 100vw;
    background-color: #F5F5F5;
}

.left-banner-event{
    height: 100vh; 
    position: sticky;  
    display: flex;
    justify-content: flex-end;
    align-items: center;
    transform: scale(0.5); 
    width: 100%;
    margin-right: -28em;
    margin-top: -2.5em;

}

.right-banner-event{
    height: 100vh; 
    position: sticky;  
    left: 0;
    display: flex; 
    justify-content: flex-start;
    align-items: center; 
    transform: scale(0.5);
    width: 100%;
    margin-left: -28em;
    margin-top: -2.5em;
}


@media screen and (max-width: 600px) {
    .create-event-modal{
        width: 100vw;
        font-size: 1.3em;
    }

    .event-body{
        margin-top: 2.5em; 
    }

    .left-banner-event{
      display: none;
    }

    .right-banner-event{
        display: none;
    }


}