body {
  height: 100%;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
} 

.profile-body-main {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  flex-direction: row;
}
 
.profile-main {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;  
  border-radius: 10px;
  /* margin-top: 100px; */
  padding-top: 16px;
  background-color: beige; 
}
 
.left-banner-profile{ 
  height: 100vh;
  padding-right: 3em;
  display: flex;  
}

.right-banner {
  width: 20em;
  height: 100vh;
  padding-right: 3em;
  display: flex;  
  margin-top: 2.5em;
}

.profile-info-profile-main { 
  height: 100vh;
  padding: 20px;
  background-color: rgb(255, 255, 255);
  border-right: 1px solid #ddd;
  display: flex; 
  flex-direction: column;
  align-items: center;
  position: fixed; 
  width: 20em;
  margin-top: 2.5em;
  margin-right: 1em;
}

.my-feed{
  margin-left: 22em; 
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 1em;
  height: 100vh;
  padding: 1em;

}

.right-banner {
  width: 20em;
  height: 100vh;
  padding: 1em;
}

.div-photo-profile img {
  width: 14em;
  height: 14em;
  border-radius: 50%;  
  object-fit: cover;
  
}

img{
  object-fit: cover;
  
}


 
 .class-button {
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  cursor: pointer;
  width: 100px;
  height: 25px;
  background-image: linear-gradient(to top, #D8D9DB 0%, #fff 80%, #FDFDFD 100%);
  border-radius: 30px;
  border: 1px solid #8F9092;
  transition: all 0.2s ease;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
  font-weight: 600;
  color: #606060;
  text-shadow: 0 1px #fff;
  margin-top: 2em;
}

.class-button:hover {
  box-shadow: 0 4px 3px 1px #FCFCFC, 0 6px 8px #D6D7D9, 0 -4px 4px #CECFD1, 0 -6px 4px #FEFEFE, inset 0 0 3px 3px #CECFD1;
}

.class-button:active {
  box-shadow: 0 4px 3px 1px #FCFCFC, 0 6px 8px #D6D7D9, 0 -4px 4px #CECFD1, 0 -6px 4px #FEFEFE, inset 0 0 5px 3px #999, inset 0 0 30px #aaa;
}

.class-button:focus {
  box-shadow: 0 4px 3px 1px #FCFCFC, 0 6px 8px #D6D7D9, 0 -4px 4px #CECFD1, 0 -6px 4px #FEFEFE, inset 0 0 5px 3px #999, inset 0 0 30px #aaa;
}

.followers-box {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: center; 
  margin-top: 2em; 
}

.followers-container {
  padding: 1em;
  cursor: pointer;
  width: 5em;  
}

@media screen and (max-width: 700px) {
  .profile-body-main,
  .profile-main,
  .left-banner-profile {
    flex-direction: column;
    display: flex ;
    justify-content: center;
    align-items: center;
  }

  .profile-main {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
  }

  .my-feed{
    margin-left: 0em; 
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 1em;
    height: 100vh;
    padding: 1em;
  }

  .profile-info-profile-main {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: auto; 
    top: 0;
    margin-top: 2.5em;
    border-radius: 1em;
    margin-right: 0em;
    width: 100vw;
  }

  .right-banner {
    width: 100%;
    height: 100vh;
    padding-right: 0;
    margin-top: 0.5em;
  }

  .hi-text{
    margin-top: 0.5em;
    font-size: 1.5em; 
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;  
  }

  .left-banner-profile {
    width: 100vw;
    height: 100vh;
    padding-right: 0;
    margin-top: 0.5em;
  }

  .div-photo-profile img {
    width: 12em;
    height: 12em;
  }

  .fixed-top-center,
  .create-feed-card {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

   
}

  
.my-profile-info-text {
  font-size: 1em; 

}

.user-name-title{
  font-size: 1.5em;
  font-weight: bold; 
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.5em;
  width: 100%;
}

.my-profile-info-text,
.class-button {
  font-size: 1em;
  color: #333;
  font-weight: bold;
  margin-bottom: 0.5em;
}

.text-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}



@media screen and (max-width: 700px) {
  body {
    font-size: 0.8em;
  }

  .my-profile-info-text{
    font-size: 1em;
  }

}