body{
    height: 100%;
    width: 100vw;
    background-color: rgb(221, 217, 217);
    font-size: 1em;
    overflow-y:scroll;
  }

.feed-body{ 
    background-color: rgb(221, 217, 217);
    display: flex; 
    justify-content: center;
    align-items: center;  
    color: black;  
    
}

.feed-background{ 
    display: flex;
    flex-direction: row;    
    justify-content: center;  

    width: 100vw;
    background-color: beige;
    margin-top: 2em;
    padding-top: 16px;
}

.create-feed-card{
    padding: 1em; 
    width: 40em;
    height: 6em;
    border: 1px solid #ccc;
    background-color: white;
    border-radius: 5px;
    margin: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    padding: 20px;
    color: black;
    display: flex;
    justify-content: center;
}

.left-feed-banner { 
    height: 100vh; 
    position: sticky;  
    display: flex;
    justify-content: flex-end;
    align-items: center;
    transform: scale(0.5); 
    width: 100%;
    margin-right: -10em;
    margin-top: -2.5em;
}
 
.right-feed-banner { 
    height: 100vh; 
    position: sticky;  
    left: 0;
    display: flex; 
    justify-content: flex-start;
    align-items: center; 
    transform: scale(0.5);
    width: 100%;
    margin-left: -10em;
    margin-top: -2.5em;
}
 

@media screen and (max-width: 700px) {
    body{
       font-size: 2.5em;
       z-index: 1;
    }

    .feed-background{
        width: 100vw; 
        margin-top: 2em;
    }
}