body{
    height: 100%;
    width: 100vw;
    background-color: rgb(221, 217, 217);
    font-size: 1em;
  }

.feed-body{ 
    background-color: rgb(221, 217, 217);
    display: flex;
    justify-content: center;
    align-items: center;  
    color: black;  
    
}

.feed-background{ 
    display: flex;
    flex-direction: column;   
    align-items: center;  
    justify-content: flex-start;  
    width: 100vw;
    background-color: beige;
    margin-top: 75px;
    padding-top: 16px;
}

.create-feed-card{
    padding: 1em; 
    width: 40em;
    height: 6em;
    border: 1px solid #ccc;
    background-color: white;
    border-radius: 5px;
    margin: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    padding: 20px;
    color: black;
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 700px) {
    body{
       font-size: 2.5em;
    }
}