body {
  height: 100%;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-body {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  flex-direction: row;
}

.profile {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  /* margin-top: 100px; */
  padding-top: 16px;
  background-color: beige;
}

.div-photo-user{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.left-banner-user {
  width: 20em;
  height: 100vh;
  padding-right: 1em;
  display: flex; 
}
 
.user-feed {
  margin-left: 2em;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 1em;
  height: 100vh;
  padding: 1em;
  margin-left: 4em;
} 

.right-banner {
  width: 20em;
  height: 100vh;
  padding: 1em;
}

.div-photo-userimg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10em;
  height: 10em;
  border-radius: 50%; 
}

.update-profile .class-button {
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  cursor: pointer;
  width: 100px;
  height: 25px;
  background-image: linear-gradient(to top, #D8D9DB 0%, #fff 80%, #FDFDFD 100%);
  border-radius: 30px;
  border: 1px solid #8F9092;
  transition: all 0.2s ease;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
  font-weight: 600;
  color: #606060;
  text-shadow: 0 1px #fff;
  margin-top: 2em;
}

.class-button:hover {
  box-shadow: 0 4px 3px 1px #FCFCFC, 0 6px 8px #D6D7D9, 0 -4px 4px #CECFD1, 0 -6px 4px #FEFEFE, inset 0 0 3px 3px #CECFD1;
}

.class-button:active {
  box-shadow: 0 4px 3px 1px #FCFCFC, 0 6px 8px #D6D7D9, 0 -4px 4px #CECFD1, 0 -6px 4px #FEFEFE, inset 0 0 5px 3px #999, inset 0 0 30px #aaa;
}

.class-button:focus {
  box-shadow: 0 4px 3px 1px #FCFCFC, 0 6px 8px #D6D7D9, 0 -4px 4px #CECFD1, 0 -6px 4px #FEFEFE, inset 0 0 5px 3px #999, inset 0 0 30px #aaa;
}

.followers-box {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: center;
  margin-top: 2em;
  width: 5em;
}

.followers-container {
  padding: 1em;
  cursor: pointer;
}

.follow {
  margin-top: 10px;
  padding: 3px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 5em;
  font-size: 2em;
  height: 2em;

} 

.left-banner-user {
  width: 20em;
  height: 100vh;
  padding-right: 1em;
}

.profile-info-user {
  width: 20em; 
  height: 100vh;
  padding: 20px;
  background-color: #f5f5f5; 
  border-right: 1px solid #ddd;  
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed; 
  margin: 2em; 
}

.div-photo-user{
  width: 200px; 
  height: 200px; 
  border-radius: 50%;
  overflow: hidden;
}

.div-photo-userimg {
  width: 100%;
  height: auto;
}

.profile-info-user>div {
  margin-bottom: 10px;
  font-size: 16px; 
  color: #333; 
}

.followers-box {
  display: flex;
  width: 100%;
  align-items: center;
  margin-top: 10px;
  justify-content: center;

}

.followers-container {
  background-color: #ddd; 
  border-radius: 5px;
  margin: 0 5px;
}