 .inputs-card-modal {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
 }


 .input-create-feed-title {
     width: 100%;
     height: 1em;
     border-radius: 5px;
     border: 1px solid #ccc;
     padding: 5px;
     margin-bottom: 10px;
     font-size: 16px;
 }

 @media screen and (max-width: 700px) {

     .create-feed-box {
         width: 85vw;
         display: flex;
         justify-content: center;
         align-items: center;  
     }
 }

 .input-create-feed-text {
     width: 100%;
     border-radius: 5px;
     border: 1px solid #ccc;
     padding: 5px;
     margin-bottom: 10px;
     font-size: 16px;
     resize: vertical;
     height: auto;
     overflow: auto;
     white-space: pre-wrap;
 }

 .button-open-modal {
     margin-top: 10px;
     padding: 5px;
     background-color: #c8c8c8;
     color: #4d4d4d;
     border: 1px solid #ccc;
     border-radius: 3em;
     width: 20em;
     height: 2em;
     cursor: text;
     font-size: 1.3em;
     display: flex;
     padding-left: 1em;
 }

 .button-open-modal:hover {
     background-color: #898989;
 }

 .input-create-feed-text,
 .input-create-feed-title,
 .input-create-feed-photo {
     width: 100%;
     height: 1em;
     border-radius: 5px;
     border: 1px solid #ccc;
     padding: 5px;
     margin-bottom: 10px;
     font-size: 16px;
     background-color: rgb(208, 208, 208);
     color: black;
 }