 

.card-worker {
    display: flex;
    flex-direction: column;
    width: 300px; /* Ajusta el ancho según tus necesidades */
    border: 1px solid #ddd;
    background-color: #a8a8a8;
    color: black;
    border-radius: 5px;
    overflow: hidden;
    cursor: pointer;
    margin: 10px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    padding: 0.2em;
}

.card-worker:hover {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.worker {
    width: 300px; /* Ajusta el ancho según tus necesidades */
    height: 300px; /* Ajusta la altura según tus necesidades */
    object-fit: cover;
    border-radius: 50%;
    margin: 15px auto;
}

.desc-user {
    padding: 15px;
}

.desc-user > div {
    margin-bottom: 10px;
    font-size: 16px; /* Ajusta el tamaño de fuente según tus necesidades */
    color: #333; /* Ajusta el color de texto según tus necesidades */
}

.name {
    font-weight: bold;
}