.card {
    width: 40em;
    border: 1px solid #ccc;
    background-color: white;
    border-radius: 5px;
    margin: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    padding: 20px;
    color: black;
}

.feed-card {
    display: flex;
    flex-direction: column;
}

.user-info {
    display: flex;
    align-items: center;
}

.pic-avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.user-name,
.user-lastname,
.user-id {
    margin: 5px 0;
    margin-right: 0.3em;
}

.desc {
    font-weight: bold;
    color: #333;
    margin-bottom: 5px;
}

.feed-title,
.feed-content {
    color: #666;
    margin-bottom: 10px;
}

.pic-feed {
    width: 100%;
    height: auto;
    margin-top: 10px;
}

.button-spoiler {
    margin-top: 10px;
    padding: 5px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 10em;

}

.comments {
    margin-top: 10px;
    color: black;
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: auto;
    max-height: 30em;   
    scrollbar-width: thin;
    scrollbar-color: #888 #f1f1f1;
} 
.comment-card {
    margin-top: 0.5em;
    border-top: 1px solid #ccc;
    padding: 10px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(214, 217, 217);
    margin-bottom: 1em;
    border-radius: 10px;
    padding: 0.8em;
    
}

.comment-content {
    margin-bottom: 1em;
    display: flex;
    padding-right: 0.3em;

}

.coment-owner-info {
    display: flex;
    align-items: center;

}

.input-comment {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;  
    position: sticky;
    top: 0;
    background-color: white;
    padding-bottom: 0.5em; 
}

.input-create-comment {
    width: 100%;
    height: auto;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 0.5em;
    margin-right: 0.5em;
}

.button-send {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 5em;
    height: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.del { 
    width: 1em;
    cursor: pointer;
    margin-right: 2em;
}

.top-banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1em;
}

.delete-card{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 1em;
}

