 .card {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     margin-bottom: 5em;
     background-color: rgb(199, 202, 183);
     width: 50em;
     padding: 2em;
     border-radius: 2em;
     color: black;

 }

 .feed-card {
     color: black;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     justify-content: space-between;

 }

 .desc {
     font-size: 1.5em;
     font-style: italic;

 }

 .pic-avatar {
     width: 5em;
     height: 5em;
     border-radius: 50%;
     margin-bottom: 1em;
 }

 .pic-feed {
     width: 20em;
     height: 20em;
     margin-bottom: 1em;
 }


 .user-info {
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     align-items: center;
     width: 100%;
     margin-bottom: 1em;
     padding: 1em;
 }