#root {
  margin: 0;
  padding: 0;
  text-align: center;
  overflow-x: hidden;  
  background-color:  #F5F5F5;
}

 
 

@media only screen and (max-width: 990px) {
  html {
    font-size: 0.7em;
  }
}

@media only screen and (max-width: 750px) {
  html {
    font-size: 0.5em;
  }
}

@media only screen and (max-width: 680px) {
  html {
    font-size: 0.33em;
  } 
}